<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur neque
        repellendus quisquam sunt nulla cum unde, ab quam magni est optio
        commodi doloremque in, qui autem reprehenderit id, sequi obcaecati!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
        doloremque corporis amet veniam quisquam, rerum cupiditate vero dolorem
        ipsum doloribus atque sapiente natus voluptas, omnis repellendus nostrum
        veritatis, consequuntur reprehenderit.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus
        ducimus beatae voluptate officia a dolorem dolores facilis labore
        voluptatum voluptatibus in dolor quod ad facere repellat et laboriosam,
        nemo quidem.
      </p>
    </div>
     <%- include('./partials/footer.ejs') %>
  </body>
</html>
